body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.header {
    text-align: left;
    position: relative;
    top: 6rem;
}

.headerTxt {
    max-width: 35rem;
    font-size: 20px;
}


/*NAV-BAR*/
.navbar {
    color: white;
    justify-content: flex-start;
}

.nav-link {
    font-size: 20px;
}

/*First Div-*/
.head-Div {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: #222831;
}

.head-Div h1 {
    font-size: 3.4rem;
}

.personalImage {
    width: 30rem;
    height: 28rem;
    display: inline-block;
    margin-bottom: 7rem;
}

.input-cursor {
    display: inline-block;
    width: 3px;
    height: 2rem;
    background-color: white;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*Second Div-*/
.Eduction-Div {
    color: white;
    background-color: #393E46;
    line-height: 1.8;
}

.Eduction-Div p {
    font-size: 18px;
}

.Eduction-Div img {
    height: 125px;
    width: 140px;
}

.eduction-row1 {
    width: 70%;
    text-align: left;
    display: inline-block;
}

.eduction-row2 {
    width: 70%;
    text-align: right;
    display: inline-block;
    font-size: 12px;
    position: relative;
    bottom: 110px;
}

/*Third Div-*/
.Employment-Div {
    color: white;
    background-color: #556177;
    font-size: 1.2rem;
}

.Employment-Div img {
    height: 8rem;
    width: 9rem;
    cursor: pointer;
}

.Employment-Div-txt {
    max-width: 75%;
}

/*Fourth Div-*/
.Projects-Hobbies-Div {
    color: white;
    background-color: #88bd9c;
}

.Projects-Hobbies-Div img {
    width: 29rem;
    height: 19rem;
}

.Projects-Hobbies-Div button {
    height: 2.7rem;
    width: 15rem;
}

.snakeGameTxt {
    position: relative;
    top: 7.5rem;
}

.compraBetsTxt {
    position: relative;
    top: 6rem;
}

.Hobbies img {
    width: 20rem;
    height: 18rem;
}

.Hobbies h1 {
    font-size: 3rem;
}

.Hobbies div {
    max-width: 75%;
    font-size: 20px;
}


/*Fifth Div */
.Contant-Div {
    background-color: #00ADB5;
}

.contactMeForm {
    text-align: center;
    max-width: 50rem;
    font-size: 1rem;
    font-family: sans-serif;
}

.Contant-Div img {
    padding-top: 10px;
    width: 120px;
    height: 120px;
}

#emailTextarea {
    height: 12rem;
}

#sendButton {
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
}


/*Footer Div-*/
.footer-Div {
    background-color: #EEEEEE;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

.foot-img {
    position: relative;
    bottom: 4px;
    height: 1.6rem;
    width: 2rem;
}

.foot-img:hover {
    height: 2.2rem;
    width: 2.7rem;
}


/*Moblie styles*/
@media screen and (min-width: 320px) and (max-width: 520px) {

    /*First Div-*/
    .personalImage {
        margin-top: 7rem !important;
        /*to be stronger than bootsrap*/
        margin-bottom: 0;
        width: 27rem;
        height: 25rem;
    }

    .header {
        text-align: center;
        top: 0;
        padding-bottom: 8rem;
    }

    /*Second Div-*/
    .eduction-row2 {
        width: 80%;
        bottom: 30px;
    }

    /*Third Div-*/
    .Employment-Div {
        font-size: 1.1rem;
    }

    .Employment-Div img {
        height: 9rem;
        width: 10rem;
    }

    .Employment-Div-txt {
        max-width: 95%;
    }

    /*Fourth Div-*/
    .navProjectsHobbies {
        margin: 0 auto;
        position: relative;
        right: 2rem;
    }

    .Projects-Hobbies-Div img {
        width: 23rem;
        height: 20rem;
    }

    .snakeGameImg {
        margin-top: 7rem;
    }

    .compraBetsImg {
        width: 37rem;
        margin-top: 0;
    }

    .Projects button {
        height: 3rem;
        width: 22rem;
    }

    .snakeGameTxt {
        top: 5rem;
    }

    .compraBetsTxt {
        top: 2rem;
    }

    .Hobbies div {
        max-width: 95%;
        font-size: 18px;
    }

    /*Footer Div-*/
    .footer-link {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
    }

}